
<h1>Welcome to the Movie Project</h1>

<h2>Upload a new Movie</h2>
<form action="/movie/add" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title">

  <label>Description</label>
  <input type="text" name="description">

  <label>Poster</label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form>
<div class="movies-wrapper">
  {{#each movies}}
    <div class="movie-item">
      <img src="{{this.imgPath}}" alt="">
      <h4>{{this.title}}</h4>
      <p>{{this.description}}</p>
    </div>
  {{else}}
    <p>There are no movies yet! :(</p>
  {{/each}}
</div>